@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F8FAFB;
    --foreground: #0E151B;

    --card: #FFFFFF;
    --card-foreground: #0E151B;

    --popover: #FFFFFF;
    --popover-foreground: #0E151B;

    --primary: #1D7DD7;
    --primary-foreground: #FFFFFF;

    --secondary: #507495;
    --secondary-foreground: #FFFFFF;

    --muted: #E8EDF3;
    --muted-foreground: #74777E;

    --accent: #E8EDF3;
    --accent-foreground: #1D7DD7;

    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;

    --border: #E8EDF3;
    --input: #E8EDF3;
    --ring: #1D7DD7;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0E151B;
    --foreground: #F8FAFB;

    --card: #15202B;
    --card-foreground: #F8FAFB;

    --popover: #15202B;
    --popover-foreground: #F8FAFB;

    --primary: #1D7DD7;
    --primary-foreground: #FFFFFF;

    --secondary: #507495;
    --secondary-foreground: #FFFFFF;

    --muted: #1E2C3A;
    --muted-foreground: #94A3B8;

    --accent: #1E2C3A;
    --accent-foreground: #38BDF8;

    --destructive: #991B1B;
    --destructive-foreground: #FFFFFF;

    --border: #243447;
    --input: #243447;
    --ring: #1D7DD7;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), var(--font-noto-sans), sans-serif;
  }
}
